*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color:hsl(288, 59%, 58%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #3c096c;
    margin-bottom: 30px;
}



.textf , .textw {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    background-color: #3c096c; 
    border: 2px solid #9d4edd;
}

.textf , .textw  {
   padding: 15px;
   color: #ded0e4;
}

th {
    background-color: #7b2cbf;
}

.texto {
    text-align: center;
    color: #3c096c;
}

.imagem1{
    height: 373px;
    
}

 .imagem2{
    height: 373px;
    
 }

  .imagem3{
    height: 373px;
    
  }

  .imagem4 {
    height: 307px;
  }

   .imagem5 {
     height: 307px;
   }

   .imagem6 {
      height: 307px;
   }

   .imagem7 {
    height: 307px;
   }

   .imagem8 {
    height: 307px;
   }

   .imagem9 {
    height: 307px;
   }

   .imagem10 {
    height: 307px;
 }

    .imagem11 {
        height: 307px;
    }

    .imagem12 {
        height: 307px;
    }
     
    .imagem13 {
        height: 307px;
    }

    .imagem14 {
        height: 307px;
    }

    .imagem15 {
        height: 307px;
    }

    

    a:hover{
        text-decoration: none;
        transform: scale(1.05);
        color: aliceblue;
        text-decoration: none;
    }
    
    header{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: #3c096c; 
        text-align: center;
        padding: 25px;
    }

    a{
        font-size: 25px;
        text-decoration: none;
        color: #ded0e4;
    }

    video{
        padding-left: 630px;
    }

    .two{
        font-size: 20px;
    }