body {
    background-color:rgb(160, 189, 103);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #2c5e3d;
    margin-bottom: 30px;
}

h3 {
    color: #2c5e3d; 
    text-align: center;
    font-size: 30px;
}

.imagem1{
    height: 323px;
}

 .imagem2{
    height: 323px;
}

  .imagem3{
    height: 323px;
 }

 .textf , .textw {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    background-color: #448d5c;
    border: 2px solid #2c5e3d;
}

.textf , .textw  {
   padding: 15px;
   color: #d0e4d8;
}

th {
    background-color: #2c5e3d;;
}

.texto {
    text-align: center;
    color: #2c5e3d;
}

header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #2c5e3d; 
    text-align: center;
    padding: 25px;
}

a{
    font-size: 25px;
    text-decoration: none;
    color: #ded0e4;
}
.texto1{
    text-align:justify
}

.imagemt {
    height: 241px;
}

.textinho {
    font-size: 20px;
}

.textr{
    font-size: 20px;
}

video{
    padding-left: 440px;
}

.imagem4{
height: 208px;
}

.imagem5{
height: 208px;
}

.imagem6{
height: 208px;
}

.imagem7{
height: 208px;
}

.imagem8{
height: 208px;
}

.imagem9{
height: 208px;
}

.imagem10{
height: 208px;
}

.textinho{
    color: #2c5e3d;
    text-align: center;
    text-shadow: 2px, 2px, 2px, #000000;
    font-size: 18px;
}

h6{
    color: #2c5e3d;
    text-align: center;
    text-shadow: 2px, 2px, 2px, #000000;
    font-size: 18px;
}