*{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px 0px;
    margin: 0px;
    background-color: azure;
    font-family: Arial, sans-serif;
}
header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(196, 241, 255);
    text-align: center;
    padding: 25px;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    padding: 40px 20px;
    margin: 10px;
}
h3{
    padding: 10px;
    text-align: justify;
}
.img1{
    padding: 10px;
    height: 400px;
    padding-left: 40px;
}
.img2{
    height: 400px;
    padding-left: 155px;
}
.img3{
    padding: 20px 260px;
}
div{
    display: inline-block;
    text-align: center;
}
.img4{
    padding: 0px 1px;
    height: 287px;
}
h2{
   font-size: 20px;
   display: inline; 
   padding: 5px;
}
video{
    padding: 10px 300px;
}




