body {
    background-color:rgb(80, 2, 2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

h3 {
    color: #000000; 
    text-align: center;
    font-size: larger;
}

.img1{
    height: 302px;
}
 .img2{
    height: 302px;
 }
  .img3{
    height: 302px;
 }

 .textf , .textw {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    background-color: #2c0000;
    border: 2px solid #440000;
}

.textf , .textw  {
    padding: 15px;
    color: #d0e4d8;
 }

 th {
    background-color: #180101;;
}

header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #180101; 
    text-align: center;
    padding: 25px;
}

a{
    font-size: 25px;
    text-decoration: none;
    color: #e4d0d0;
}

.textr {
    font-size: 20px;
    text-align: center;
}

.foto1{
    height: 252px;
}

.foto2{
    height: 252px;
}

.foto3{
    height: 252px;
}

.foto4{
    height: 252px;
}

.foto5{
    height: 252px;
}

.foto6{
    height: 252px;
}

video{
    padding-left: 450px;
}

.imagem1{
    height: 238px;
}

.imagem2{
    height: 238px;
}

.imagem3{
    height: 238px;
}

.imagem4{
    height: 238px;
}

.imagem5{
    height: 238px;
}

.imagem6{
    height: 238px;    
}