*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(135deg, #FFD700, #FFC300, #FFB700, #FFA500);
    background-size: 400% 400%;
}

h1{
    text-align: center;
    margin-top: 40px;
}

.texto1{
    text-align: center;
    margin-left: 40px;
    margin-right: 48px;
    margin-top: 30px;
    font-size: 20px;
}

h3{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.imagem1{
    height: 300px;

}

.imagem2{
    height: 300px;
}

.texto2{
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
}

.imagem3{
    height: 300px;
    padding-top: 15px;
}

.imagem4{
    height: 300px;
    padding-top: 15px;
}

.texto3{
    text-align: center ;
    font-size: 20px;
    padding: 10px;
}

.imagem5{
    height: 300px;
}

.imagem6{
    height: 300px;
}

h4{
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.texto4{
    font-size: 20px;
    padding: 10px;
}

h5{
    font-size: 30px;
    text-align: center;
}

.texto5{
    font-size: 20px;
    padding: 10px;
}

h6{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}