* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.site {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(135deg, #f4e4cb, #faf1da, #ffffea);
    color: #fff;
    padding: 2rem;
    min-height: 100vh;
    zoom: 130%;
}

header {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 1.5rem;
}
li{
    text-decoration: none;
}
header li {
    text-decoration: none;
    padding: 0.6rem 1rem;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    color:#f0823f;
    
}

header li:hover {
    background-color: #f2d694;
    color: #000;
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff;
    
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 1.5rem;
    border-left: 6px solid #f0823f;
    border-radius: 10px;
    line-height: 1.6;
    text-shadow: 1px 1px #000;
    color: #8b8b8b;
}

.texto2 {
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-left: 5px solid #000000;
    border-radius: 10px;
    color: #8b8b8b;
}

h3:last-of-type {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem;
    color: #f0823f;
}

a:hover{
    text-decoration: none;
    transform: scale(1.05);
    color: #f0823f;
    text-decoration: none;
}

/* header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #3c096c; 
    text-align: center;
    padding: 25px;
} */

a{
    font-size: 25px;
    text-decoration: none;
    color: #f0823f;
}